<launch>
    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
    <!-- node parameters -->
    <param name="serial_name" type="string" value="/dev/dji"/>
    <param name="baud_rate" type="int" value="230400"/>
    <param name="app_id" type="int" value="1089958"/>
    <param name="app_version" type="int" value="1"/>
    <param name="align_time" type="bool" value="false"/>
    <param name="enc_key" type="string" value="41c97cfee10dac9efdd8d322ef66bf7a1aaa172c2314b8704a1ee29747186a7f"/>
    <param name="use_broadcast" type="bool" value="false"/>
    </node>
</launch>
