<launch>
    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
    <!-- node parameters -->
    <param name="serial_name" type="string" value="/dev/dji"/>
    <param name="baud_rate" type="int" value="230400"/>
    <param name="app_id" type="int" value="1049892"/>
    <param name="app_version" type="int" value="1"/>
    <param name="align_time" type="bool" value="false"/>
    <param name="enc_key" type="string" value="817d22414cec78f797ace27063d7dc28bef7c24cc4f18624e288b0d818e17f7f"/>
    <param name="use_broadcast" type="bool" value="false"/>
    </node>
</launch>
